.container {
  width: 100%;
  min-height: calc(100vh - 120px);
}
.title {
  height: 100%;
  border-bottom: 1px solid;
}
.info {
  display: flex;
  justify-content: space-around;
}
.random {
  margin-top: 20px;
}
.random_container {
  display: flex;
  justify-content: space-around;
}
.random_title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}
